In [2]:
import pandas as pd
pd.__version__

'1.4.4'

In [3]:
df = pd.read_csv("pirates.csv")

In [67]:
df.info

<bound method DataFrame.info of        id     sex   age  height  weight headband college  tattoos  tchests  \
0       1    male  28.0  173.11    70.5      yes   JSSFP        9        0
1       2    male  31.0  209.25   105.6      yes   JSSFP        9       11
2       3    male  26.0  169.95    77.1      yes    CCCC       10       10
3       4  female  31.0  144.29    58.5       no   JSSFP        2        0
4       5  female  41.0  157.85    58.4      yes   JSSFP        9        6
..    ...     ...   ...     ...     ...      ...     ...      ...      ...
995   996    male  26.0  178.83    70.8      yes    CCCC       14       11
996   997  female  34.0  157.20    53.6      yes   JSSFP       13       48
997   998    male  36.0  175.74    72.4      yes   JSSFP        9       95
998   999    male  30.0  175.24    70.2      yes   JSSFP        9        6
999  1000    male  30.0  189.45    84.0      NaN   JSSFP       10       36

    parrots favorite.pirate sword.type  eyepatch  sword.time  beard.length  \
0         0    Jack Sparrow    cutlass         1        0.58            16
1         0    Jack Sparrow    cutlass         0        1.11            21
2         1    Jack Sparrow    cutlass         1        1.44            19
3         2    Jack Sparrow   scimitar         1       36.11             2
4         4            Hook    cutlass         1        0.11             0
..      ...             ...        ...       ...         ...           ...
995       2    Jack Sparrow    cutlass         0        0.46            20
996       2            Hook    cutlass         0        0.15             0
997      14    Jack Sparrow    cutlass         1        1.28            18
998       0      Lewis Scot    cutlass         1        0.21            24
999       1    Jack Sparrow    cutlass         0        0.95            19

           fav.pixar  grogg
0     Monsters, Inc.     11
1             WALL-E      9
2         Inside Out      7
3         Inside Out      9
4         Inside Out     14
..               ...    ...
995               Up     13
996     Finding Nemo      8
997  The Incredibles     11
998       Inside Out     10
999               Up     14

[1000 rows x 17 columns]>

In [68]:
df.head(35)

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14
5,6,male,26.0,190.20,85.4,yes,CCCC,7,19,0,Jack Sparrow,cutlass,1,0.59,17,Monsters University,7
6,7,female,31.0,158.05,59.6,yes,JSSFP,9,1,7,Blackbeard,cutlass,0,3.01,1,Cars,9
7,8,female,31.0,172.52,74.5,yes,JSSFP,5,13,7,Hook,cutlass,1,0.06,1,Inside Out,12
8,9,female,28.0,164.57,68.7,yes,JSSFP,12,37,2,Anicetus,cutlass,0,0.74,1,Toy Story 3,16
9,10,male,30.0,183.52,84.7,yes,JSSFP,12,69,4,Jack Sparrow,cutlass,1,0.71,25,Monsters University,9
10,11,female,25.0,162.49,63.5,yes,CCCC,10,1,3,Blackbeard,cutlass,1,0.78,1,Inside Out,7
11,12,male,20.0,163.65,70.0,yes,CCCC,14,5,3,Jack Sparrow,cutlass,0,0.47,27,"Monsters, Inc.",8
12,13,female,24.0,171.04,72.6,yes,CCCC,8,6,0,Lewis Scot,cutlass,0,0.53,0,"Monsters, Inc.",12
13,14,male,26.0,177.99,78.2,yes,CCCC,9,12,3,Jack Sparrow,cutlass,1,1.33,19,Inside Out,7
14,15,female,45.0,167.65,65.4,yes,JSSFP,14,70,0,Hook,cutlass,1,0.33,0,Monsters University,9
15,16,female,40.0,165.10,65.7,yes,JSSFP,8,3,1,Hook,scimitar,1,27.56,1,The Incredibles,10
16,17,male,21.0,177.52,72.7,yes,CCCC,11,3,0,Jack Sparrow,cutlass,0,0.33,20,Finding Nemo,15
17,18,female,30.0,158.30,65.6,yes,JSSFP,7,107,3,Blackbeard,cutlass,0,1.55,0,"Monsters, Inc.",8
18,19,female,35.0,173.07,72.8,yes,JSSFP,7,75,14,Hook,cutlass,0,0.72,0,Finding Nemo,11
19,20,male,26.0,175.45,69.0,yes,CCCC,14,30,3,Jack Sparrow,cutlass,0,0.40,27,WALL-E,10
20,21,male,22.0,187.83,85.8,yes,CCCC,10,11,6,Jack Sparrow,cutlass,0,0.50,12,"Monsters, Inc.",6
21,22,female,34.0,179.06,82.1,no,JSSFP,5,13,4,Edward Low,cutlass,1,0.03,2,Ratatouille,8
22,23,male,23.0,158.66,53.5,yes,CCCC,13,11,1,Edward Low,cutlass,0,0.02,29,Finding Nemo,13
23,24,male,12.0,175.29,83.0,yes,CCCC,10,3,2,Jack Sparrow,cutlass,1,0.14,24,Up,8
24,25,male,35.0,187.48,85.6,yes,JSSFP,10,18,1,Jack Sparrow,sabre,1,11.23,17,Inside Out,2
25,26,female,26.0,153.54,54.6,yes,CCCC,10,10,3,Blackbeard,cutlass,1,1.10,0,Inside Out,9
26,27,male,15.0,171.48,66.0,no,CCCC,2,2,0,Jack Sparrow,banana,1,44.74,18,Inside Out,10
27,28,male,30.0,177.04,71.9,yes,JSSFP,15,15,4,Edward Low,cutlass,1,0.35,29,Inside Out,15
28,29,female,17.0,145.98,57.4,yes,CCCC,14,1,1,Hook,cutlass,0,0.18,0,Finding Nemo,11
29,30,female,26.0,134.87,37.9,yes,CCCC,12,44,10,Edward Low,cutlass,1,0.59,1,Monsters University,2
30,31,male,22.0,196.69,91.7,no,CCCC,2,54,1,Jack Sparrow,cutlass,1,2.19,17,Monsters University,11
31,32,male,22.0,181.95,79.4,yes,CCCC,15,6,2,Hook,cutlass,1,0.12,29,Monsters University,9
32,33,male,31.0,190.02,90.5,yes,JSSFP,13,3,1,Jack Sparrow,cutlass,1,0.29,24,Inside Out,7
33,34,female,NaN,162.60,61.0,yes,CCCC,13,15,6,Jack Sparrow,cutlass,1,1.26,0,"Monsters, Inc.",7
34,35,male,23.0,178.24,75.1,yes,CCCC,17,2,1,Hook,cutlass,0,0.34,24,Brave,8

In [69]:
len(df. index)

1000

In [70]:
df.dtypes

id                   int64
sex                 object
age                float64
height             float64
weight             float64
headband            object
college             object
tattoos              int64
tchests              int64
parrots             object
favorite.pirate     object
sword.type          object
eyepatch             int64
sword.time         float64
beard.length         int64
fav.pixar           object
grogg                int64
dtype: object

In [71]:
df.dtypes["parrots"]

dtype('O')

In [72]:
df.isnull().sum().sum()

4

In [73]:
pd.isna(df['sex'])

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: sex, Length: 1000, dtype: bool

In [74]:
ID=1
for column in df.columns:
    for row in range(len(df["id"])):
        if .pd.isna(df.iloc)

SyntaxError: invalid syntax (853699464.py, line 4)

In [4]:
for index, row in df.interrow():
    for columns in df.column:
        if pd.isna(row[column]):
            print(index)

AttributeError: 'DataFrame' object has no attribute 'interrow'

In [76]:
df['age'] = df['age'].fillna(df['age'].mean())

In [77]:
df.head(35)

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.000000,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.000000,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.000000,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.000000,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.000000,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14
5,6,male,26.000000,190.20,85.4,yes,CCCC,7,19,0,Jack Sparrow,cutlass,1,0.59,17,Monsters University,7
6,7,female,31.000000,158.05,59.6,yes,JSSFP,9,1,7,Blackbeard,cutlass,0,3.01,1,Cars,9
7,8,female,31.000000,172.52,74.5,yes,JSSFP,5,13,7,Hook,cutlass,1,0.06,1,Inside Out,12
8,9,female,28.000000,164.57,68.7,yes,JSSFP,12,37,2,Anicetus,cutlass,0,0.74,1,Toy Story 3,16
9,10,male,30.000000,183.52,84.7,yes,JSSFP,12,69,4,Jack Sparrow,cutlass,1,0.71,25,Monsters University,9
10,11,female,25.000000,162.49,63.5,yes,CCCC,10,1,3,Blackbeard,cutlass,1,0.78,1,Inside Out,7
11,12,male,20.000000,163.65,70.0,yes,CCCC,14,5,3,Jack Sparrow,cutlass,0,0.47,27,"Monsters, Inc.",8
12,13,female,24.000000,171.04,72.6,yes,CCCC,8,6,0,Lewis Scot,cutlass,0,0.53,0,"Monsters, Inc.",12
13,14,male,26.000000,177.99,78.2,yes,CCCC,9,12,3,Jack Sparrow,cutlass,1,1.33,19,Inside Out,7
14,15,female,45.000000,167.65,65.4,yes,JSSFP,14,70,0,Hook,cutlass,1,0.33,0,Monsters University,9
15,16,female,40.000000,165.10,65.7,yes,JSSFP,8,3,1,Hook,scimitar,1,27.56,1,The Incredibles,10
16,17,male,21.000000,177.52,72.7,yes,CCCC,11,3,0,Jack Sparrow,cutlass,0,0.33,20,Finding Nemo,15
17,18,female,30.000000,158.30,65.6,yes,JSSFP,7,107,3,Blackbeard,cutlass,0,1.55,0,"Monsters, Inc.",8
18,19,female,35.000000,173.07,72.8,yes,JSSFP,7,75,14,Hook,cutlass,0,0.72,0,Finding Nemo,11
19,20,male,26.000000,175.45,69.0,yes,CCCC,14,30,3,Jack Sparrow,cutlass,0,0.40,27,WALL-E,10
20,21,male,22.000000,187.83,85.8,yes,CCCC,10,11,6,Jack Sparrow,cutlass,0,0.50,12,"Monsters, Inc.",6
21,22,female,34.000000,179.06,82.1,no,JSSFP,5,13,4,Edward Low,cutlass,1,0.03,2,Ratatouille,8
22,23,male,23.000000,158.66,53.5,yes,CCCC,13,11,1,Edward Low,cutlass,0,0.02,29,Finding Nemo,13
23,24,male,12.000000,175.29,83.0,yes,CCCC,10,3,2,Jack Sparrow,cutlass,1,0.14,24,Up,8
24,25,male,35.000000,187.48,85.6,yes,JSSFP,10,18,1,Jack Sparrow,sabre,1,11.23,17,Inside Out,2
25,26,female,26.000000,153.54,54.6,yes,CCCC,10,10,3,Blackbeard,cutlass,1,1.10,0,Inside Out,9
26,27,male,15.000000,171.48,66.0,no,CCCC,2,2,0,Jack Sparrow,banana,1,44.74,18,Inside Out,10
27,28,male,30.000000,177.04,71.9,yes,JSSFP,15,15,4,Edward Low,cutlass,1,0.35,29,Inside Out,15
28,29,female,17.000000,145.98,57.4,yes,CCCC,14,1,1,Hook,cutlass,0,0.18,0,Finding Nemo,11
29,30,female,26.000000,134.87,37.9,yes,CCCC,12,44,10,Edward Low,cutlass,1,0.59,1,Monsters University,2
30,31,male,22.000000,196.69,91.7,no,CCCC,2,54,1,Jack Sparrow,cutlass,1,2.19,17,Monsters University,11
31,32,male,22.000000,181.95,79.4,yes,CCCC,15,6,2,Hook,cutlass,1,0.12,29,Monsters University,9
32,33,male,31.000000,190.02,90.5,yes,JSSFP,13,3,1,Jack Sparrow,cutlass,1,0.29,24,Inside Out,7
33,34,female,27.357357,162.60,61.0,yes,CCCC,13,15,6,Jack Sparrow,cutlass,1,1.26,0,"Monsters, Inc.",7
34,35,male,23.000000,178.24,75.1,yes,CCCC,17,2,1,Hook,cutlass,0,0.34,24,Brave,8